/* Estilos adicionales */
@import 'scss/_footer.scss';
@import "scss/_variables.scss";

.empresa{
    margin-bottom: 10px;
    width: 50%;

}
.meses {
    margin-bottom: 10px;
    width: 50%;
}
.custom-width {
    width: 50%; /* Ajusta este valor según sea necesario */
}
.hora-asistencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre cada fila */
    width: 55%;
}

.hora-asistencia .form-check-input {
    flex-shrink: 0; /* No permite que el switch se encoja */
}

.hora-asistencia .form-check-label {
    flex: 1; /* Permite que la etiqueta tome el espacio disponible */
    margin-left: 10px; /* Espacio entre el switch y la etiqueta */
}

.horarios {
    display: flex;
    gap: 25px; /* Espacio entre los campos de hora */
}

.horarios .form-control {
    max-width: 150px; /* Ajusta el ancho de los campos de hora si es necesario */
    flex-shrink: 0; /* No permite que los campos de tiempo se encojan */
}
.fecha-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; /* Espacio entre cada fila */
    width: 25%;
}
.fecha-inicio .col-form-label {
    flex: 0 0 250px; /* Ajusta el ancho de la etiqueta según sea necesario */
}

.fecha-inicio .form-control {
    flex: 1; /* Permite que el campo de fecha tome el espacio disponible */
}